<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BankV1">
  <test name="BankAppTest">
      <parameter name="browser" value="Firefox"/>
      	<classes>
      		<class name="bank_demo.testCases.LoginTest"/>
      		<!--<class name ="bank_demo.testCases.LoginDDT"> -->
      		<!--<class name ="bank_demo.testCases.AddCustomerTest"/> -->
      	</classes>
  </test> 
</suite> 